/* font-family: 'Bungee Inline', cursive;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Kaushan Script', cursive; */
*, *:before, *:after{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing:border-box;
    box-sizing: border-box;
  }

html{
    font-size:10px;
}

 h1{
    font-family: 'Lobster', cursive;
    font-size: 10rem;
    text-align: center;
    background: linear-gradient(to right,  rgb(228, 199, 36) 0%, #f1a81f 25%, #e967bd 50%, #f51cac 75%, #b506bb 100%);
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 2rem 0;
} 

.title{
    text-decoration: none;
}

.title:hover{
    text-decoration: none;
}

.wallContainer{
    width: 75%;
    margin:0 auto;
    display: flex;
    flex-wrap: wrap;
   
}

.singlePost{
    flex-basis: calc(34% - 4rem);
    border: 1px solid #d3d3d3;
    border-radius: 10px;
    padding: 2rem;
    flex-grow: 1;
    margin: 0 4rem 2rem 4rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 25px -5px;
}

.singlePhoto{
    width: calc(100% + 4rem);
    height: 25rem;
    margin: -2rem 0rem 0rem -2rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.caption{
    font-size : 2.5rem;
    font-family: 'dancing Script', cursive;
    font-weight: 900;
    padding:1rem 0 1rem 0;
}

.btn {
    font: 14px Helvetica;
    padding: 8px 30px 8px;
    margin: 0;
    border: none;
    color: black;
    border: 1px solid #d3d3d3;
    border-bottom: 3px #d3d3d3 solid;
    text-decoration: none;
    position: relative;
    width: 100%;
  }

  .btn:hover , .btn:focus{
    color: rgb(70, 66, 66);
    border-bottom: 3px  #d3d3d3 solid;
  }

  .btn:active {
    position: relative;
    top: 3px;
    border: 1px #d3d3d3 solid;
    border-bottom: 1px #d3d3d3 solid;
  }

  .btnContainer{
      display: flex;
      justify-content: center;
      
  }

  .add-icon{
    background: url("https://image.flaticon.com/icons/svg/60/60740.svg") center no-repeat;
    display:table;
    margin: 20px auto;
    padding: 40px;
    background-size: contain;
    border: none;
  }

  .form-container{
    width: 80%;
    margin: 0px auto;
    text-align: center;
  }

  .form-container input[type="text"]{
      width: 25rem;
      margin-top :7px;
      margin-bottom: 7px;
      line-height: 30px;
  }
  label{
      font-size:20px;
      margin-right: 10px; 
      font-family: 'Josefin Sans', sans-serif; 
  }

  .submit{
    position: relative;
    color: darkcyan;
    border-bottom-color: darkcyan;
    width: 10rem;
    padding: 8px;
    margin-top:10px;
    font-family: 'Josefin Sans', sans-serif;
  }

  .submit:hover{
      color:darkblue;
      border-bottom-color:darkblue;
  }



  .single-photo {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    background: #fff;
    border: black;
}

.single-photo .comments {
    flex: 1 0 40%;
    max-width: 40%;
}


.comment{
    width: 100%
}
.comments p {
    border-bottom: 1px solid #d3d3d3;
    padding: 0.5rem 0;
    font-size : 20px;
}
.comment-form input ,
.comment-form textarea {
    width: 100%;
    border: 0;
    font-size: 1.3rem;
    padding: 1rem 0;
    border-bottom: 1px solid #d3d3d3;
    outline: none;
    resize: vertical;
    font-size : 20px;
}


.speech-bubble {
    background: url("https://d30y9cdsu7xlg0.cloudfront.net/png/51904-200.png") center no-repeat;
    background-size: contain;
    padding: 10px;
    margin: 5px;
    display: inline-block;
    border: none;
    position: relative;
}
 
 
.comment-count {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color:black;
    
}

